hr.style {
  border-top: 1px dashed #8c8b8b;
}

@media only screen and (max-width: 600px) {
  h6 {
    font-size: 18px !important;
  }
  p {
    font-size: 17px !important;
  }
  .center-in-small{
    text-align: center;
  }
}
