<div class="row center-align">
  <h1>Moje projekty</h1>
</div>

<div class="row">
<div class="col l6">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/images/entry-project/youMap.jpg">
        <span class="card-title"><span class="black-text">YouMap</span></span>
      </div>
      <div class="card-content">
        <p>Aplikacja webowa z możliwością tworzenia interaktywnych map podróży na podstawie zdjęć z zapisananymi geotagami</p>
      </div>
      <div class="card-action">
        <a class="waves-effect btn modal-trigger" href="#modal1">Zobacz dokumentację</a>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="../../assets/images/entry-project/DiGamma2.png">
        <span class="card-title">DiGamma Project</span>
      </div>
      <div class="card-content">
        <p>Wyszukiwarka internetowa po sieciach anonimowych (TOR). Możliwe wyszukianie fraz na stronach jak i wyszukiwanie urządzęń.</p>
      </div>
      <div class="card-action">
        <a class="waves-effect btn modal-trigger" href="#modal1">Zobacz dokumentację</a>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="../../assets/images/entry-project/wnioskowanie.jpg">
        <span class="card-title">Silnik wnioskujący</span>
      </div>
      <div class="card-content">
        <p>Silnik umożliwiający wnioskowanie w przód i w tył na podstawie wprowadzonych wzorów i danych. W formie graficznej lub tekstowej.</p>
      </div>
      <div class="card-action">
        <a class="waves-effect btn modal-trigger" href="#modal1">Zobacz dokumentację</a>
      </div>
    </div>
</div>

<div class="col l6">
    <div class="card grow">
      <div class="card-image">
        <img src="../../assets/images/entry-project/portalPracy.jpg">
        <span class="card-title"><span class="white-text-shadow red-text"><b>Portal pracy</b></span></span>
      </div>
      <div class="card-content">
        <p>Portal możliwy do zastosowania jako serwis do poszukiwania pracy/praktyk w wąskim zakresie branżowym.</p>
      </div>
      <div class="card-action">
        <a class="waves-effect btn modal-trigger" href="#modal1">Zobacz dokumentację</a>
      </div>
    </div>

    <div class="card">
      <div class="card-image grow">
        <img src="../../assets/images/entry-project/fraktal.jpg">
        <span class="card-title">Generator fraktali</span>
      </div>
      <div class="card-content">
        <p>Program umożliwiający generację fraktali o wybranych parametrach. Możliwy dokładny podgląd i zapis do pliku graficznego.</p>
      </div>
      <div class="card-action">
        <a class="waves-effect btn modal-trigger" href="#modal1">Zobacz dokumentację</a>
      </div>
    </div>

    <div class="card grow">
      <div class="card-image">
        <img src="../../assets/images/entry-project/">
        <span class="card-title">Fiszcz Site</span>
      </div>
      <div class="card-content">
        <p>Moja strona wizytówkowa. (ps. właśnie na niej jesteś)</p>
      </div>
      <div class="card-action">
        <a class="waves-effect btn modal-trigger" href="#modal1">Zobacz dokumentację</a>
      </div>
    </div>
</div>
</div>


<div class="center-align">
  <h3>Mniejsze projekty/projekciki</h3>

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">cloud circle</i>Repozytorium kodu i plików</div>
      <div class="collapsible-body"><span>Serwis internetowy o wysokim stopniu bezpieczeństwa do umieszczania na swoim koncie pojedyńczych plików kodu i następnie ich wyświetlanie (na wzór Pastebin). Umożliwiaj również wstawianie dowolnie innych plików na swoje konto.</span>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">poll</i>Serwis do ankietyzacji</div>
      <div class="collapsible-body"><span>Backend serwisu internetowego obsługujący tworzenie nowych ankiet i głosowanie na nie. Serwis o wysokim stopniu bezpieczeństwa.</span>
      </div>
    </li>
  </ul>
</div>



<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>YouMap</h4>
    <embed src="https://drive.google.com/file/d/0B9vJqTbd6MhaSXJVcmp3TWdHOU0/preview" width="100%" height="88%">
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat btn btn-close">Zamknij</a>
  </div>
</div>
