<div class="col s12 white">
<h1 class="center-align">Kontakt</h1>

<h5 class="center-align">Masz jakieś pytania?<br> Jesteś zainteresowany współpracą ze mną?<br> Albo masz może jakieś sugestie lub po prostu
  chcesz powiedzieć "Część!"?<br> Skontaktuj się ze mną:</h5>

<br>
<br>

<div class="row center-align">
  <div class="col m4 s12">
    <i class="orange-text text-lighten-2 large material-icons">mail_outline</i>
    <br>
    <h5>fiszczu@gmail.com</h5>
  </div>
  <div class="col m4 s12 small-mt-30px">
    <i class="orange-text text-lighten-2 large material-icons">phone_android </i>
    <br>
    <h5>+48 662 182 628</h5>
  </div>
  <div class="col m4 s12 small-mt-30px">
    <i class="orange-text text-lighten-2 large fa fa-skype"></i>
    <br>
    <h5>fiszcz</h5>
  </div>
</div>
<br>
<div class="row center-align">
  <div class="col m4 s12">
    <i class="orange-text text-lighten-2 large fa fa-github"></i>
    <h5><a href="https://github.com/Fiszcz">github.com/Fiszcz</a></h5>
  </div>
  <div class="col m4 s12 small-mt-30px">
    <a class="tooltipped col s6 offset-s3 l6 offset-l3 m8 offset-m2" data-position="top" data-delay="30" data-tooltip="Zeskanuj kod za pomocą aplikacji Messenger">
      <img src="../../assets/images/messenger-qr.png" class="responsive-img">
    </a>
    <br>
    <h5><a href="https://www.facebook.com/messages/t/filip.szczesniak">Messenger</a></h5>
  </div>
  <div class="col m4 s12 small-mt-30px">
    <i class="orange-text text-lighten-2 large fa fa-home"></i>
    <br>
    <p>Można mnie znaleźć w Warszawie i czasem w Łowiczu</p>
  </div>
</div>
</div>
