.card {
  padding: 0px;
  transform-origin: top;
  overflow:hidden;
}

.card .card-content {
  padding: 0px;
}

img {
  width: auto;
  height: 100%;
}

.card-image-tech {
  top: 5px;
  padding-bottom: 5px;
  margin: auto auto;
  width: 90%;
  height: 90%;
}

.card-tech:hover {
  background-color: rgba(255, 212, 149, 0.71);
}

.selectedTechnology {
  background-color: rgb(255, 192, 120) !important;
}
