<br>
<div class="container row">
  <div class="row z-depth-5">

    <ul id="tabs-swipe-demo" class="tabs">
      <div class="indicator" style="z-index:1; background-color: rgb(255,200,154)"></div>
      <li class="tab col l2"><a href="#swipe-1">O mnie</a></li>
      <li class="tab col l2"><a href="#swipe-2">Projekty</a></li>
      <li class="tab col l4"><a href="#swipe-3">Znane technologie</a></li>
      <li class="tab col l2"><a href="#swipe-4">Edukacja</a></li>
      <li class="tab col l2"><a href="#swipe-5">Kontakt</a></li>
    </ul>
    <div class="fontAdventPro">
      <div id="swipe-1" class="col s12 white">
        <app-about-me></app-about-me>
      </div>
      <div id="swipe-2" class="col s12 red">
        <app-projects></app-projects>
      </div>
      <div id="swipe-3" class="col s12 white">
        <app-technologies></app-technologies>
      </div>
      <div id="swipe-4" class="col s12 yellow">
        <app-education></app-education>
      </div>
      <div id="swipe-5" class="col s12 white">
        <app-contact></app-contact>
      </div>
    </div>
  </div>

</div>
