<br>
<div class="container row">
  <div class="row z-depth-5">

    <ul id="tabs-swipe-demo" class="tabs">
      <div class="indicator" style="z-index:1; background-color: rgb(255,200,154)"></div>
      <li class="tab col l2"><a routerLink="/main" routerLinkActive="active">O mnie</a></li>
      <li class="tab col l2"><a routerLink="/projects" routerLinkActive="active">Projekty</a></li>
      <li class="tab col l4"><a routerLink="/technologies" routerLinkActive="active">Znane technologie</a></li>
      <li class="tab col l2"><a routerLink="/education" routerLinkActive="active">Edukacja</a></li>
      <li class="tab col l2"><a routerLink="/contact" routerLinkActive="active">Kontakt</a></li>
    </ul>
    <div class="fontAdventPro">
	<router-outlet></router-outlet>
	<app-footer class="col s12 padding00I"></app-footer>
    </div>
  </div>
</div>
