<br>
<div class="container row">
  <div class="row z-depth-5">

    <ul id="tabs-swipe-demo" class="tabs">
      <div class="indicator" style="z-index:1; background-color: rgb(255,200,154)"></div>
      <li class="tab col l2"><a href="#swipe-1">O mnie</a></li>
      <li class="tab col l2"><a href="#swipe-2">Projekty</a></li>
      <li class="tab col l4"><a href="#swipe-3">Znane technologie</a></li>
      <li class="tab col l2"><a href="#swipe-4">Edukacja</a></li>
      <li class="tab col l2"><a href="#swipe-5">Kontakt</a></li>
    </ul>
    <div class="fontAdventPro">
      <div id="swipe-1">
        <app-about-me class="col s12 white"></app-about-me>
        <app-footer class="col s12 padding00I"></app-footer>
      </div>
      <div id="swipe-2">
        <app-projects class="col s12 red"></app-projects>
        <app-footer class="col s12 padding00I"></app-footer>
      </div>
      <div id="swipe-3">
        <app-technologies class="col s12 white"></app-technologies>
        <app-footer class="col s12 padding00I"></app-footer>
      </div>
      <div id="swipe-4">
        <app-education class="col s12 yellow"></app-education>
        <app-footer class="col s12 padding00I"></app-footer>
      </div>
      <div id="swipe-5">
        <app-contact class="col s12 white"></app-contact>
        <app-footer class="col s12 padding00I"></app-footer>
      </div>
    </div>
  </div>
</div>
