/* You can add global styles to this file, and also import other style files */
.centerElement {
  width: 100px !important;
  display: block !important;
  margin: auto !important;
}

.mt15px {
  margin-top: 15px;
}

.mt20px {
  margin-top: 20px;
}

.padding00I {
  padding: 0 0 !important;
}

.black-text-shadow {
  text-shadow: 2px 2px 0px #000000;
}

.white-text-shadow {
  text-shadow: 2px 2px 0px #FFFFFF;
}

.toRight {
  text-align: right;
}

.overflow-hidden {
  overflow: hidden;
}
