<div class="row">
  <div class="row col s10 offset-s1">
    <img src="../../assets/images/profilePhoto.jpg" class="circle responsive-img z-depth-5 col s4 offset-s4 mt20px padding00I">
  </div>
</div>

<div class="row center-align">
  <h3 class="col s4 offset-s4">Filip Szcześniak</h3>
</div>

<div class="center-align">
  <p>Student III roku informatyki na Politechnice Warszawskiej.</p>
  <p>Pasjonat informatyki i nowinek technologicznych</p>
  <p>Programista od 6 lat</p>
  <p>Aktualne zatrudnienie: <span class="pink-text text-lighten-4">brak</span></p>
</div>

<!-- For align width of window for solve problem with changing tabs" -->
<div class="row"></div>
