<div class="row mb5px">
  <div class="row col s10 offset-s1 mb5px">
    <img src="../../assets/images/profilePhoto.jpg" class="circle responsive-img z-depth-5 col s4 offset-s4 mt20px padding00I">
  </div>
</div>

<div class="center-align">
  <h3>Filip Szcześniak</h3>
</div>

<div class="center-align fontSize17">
  <p>Student III roku informatyki na Politechnice Warszawskiej.</p>
  <p>Pasjonat informatyki i nowinek technologicznych</p>
  <p>Programista od 6 lat</p>
  <p>Aktualne zatrudnienie: <span class="red-text text-darken-1"><b>brak</b></span></p>
</div>
